.App {
  text-align: center;
}

.App-header {
  margin-top: 32px;
}

.Cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
}

.Next-news-container {
  display: flex;
  justify-content: center;
}

.Shuffle-button-container {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.Shuffle-button {
  bottom: 24px;
}

button {
  border-width: 4px;
  background: white;
  color: #374146;
  border-color: #374146;
  margin: 32px 12px 12px 12px;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #ccd6dd;
}

button:active {
  background-color: #052136;
}

.Switch-container {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: white;
}

.Switch-button {
  margin: 16px 12px 16px 12px;
}

.Total {
  padding: 16px 0px 16px 0px;
  font-size: 168px;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 64px;
  background-color: white;
}

.Manual-change-button {
  margin: 8px 12px 8px 12px;
  padding: 8px 12px 8px 12px;
  font-size: 24px;
}

.Total-controls {
  overflow: scroll;
  height: 60%;
}

.Manual-controls {
  position: fixed;
  background-color: white;
  width: 100%;
  margin-top: 258px;
}

.Quick-controls {
  margin-top: 324px;
  overflow: hidden;
}

.Selected-view {
  display: inline-block;
}

.Dividend-container,
.Price-container {
  overflow: scroll;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Dividend-name,
.Price-name {
  flex: 0 0 86px;
  text-align: left;
  padding-left: 12px;
}

.Dividend-button,
.Buy-button,
.Sell-button {
  font-size: 16px;
  border-width: 2px;
  min-width: 20px;
  margin: 16px 8px 16px 8px;
  padding: 0px;
  height: 34px;
  width: 38px;
  align-self: center;
}
