.App {
  text-align: center;
}

.App-header {
  margin-top: 32px;
}

.Cards-container {
  display: block;
}

button {
  border-width: 4px;
  background: white;
  color: #374146;
  border-color: #374146;
  margin: 32px 12px 12px 12px;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #CCD6DD;
}

button:active {
  background-color: #89A0B0;
}
