.App {
  text-align: center;
  background-color: #e1e8ed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-calculator {
  height: 100vh;
  overflow: hidden;
}



.Cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.Next-news-container {
  display: flex;
  justify-content: center;
}

.Shuffle-button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

button {
  border-width: 4px;
  background: white;
  color: #29376d;
  border: 4px solid #29376d;
  margin: 32px 12px 12px 12px;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Chakra Petch';
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #e1e8ed;
}

button:active {
  background-color: #ccd6dd;
  transform: scale(0.9);
  transition: 0.1s;
}

.Switch-container {
  display: flex;
  justify-content: center;
  background-color: #e1e8ed;
  flex-shrink: 0;
}

.Switch-button {
  margin: 16px 12px 16px 12px;
}

.Total {
  padding: 16px 0px 16px 0px;
  font-size: 168px;
  font-weight: bold;
  background-color: #e1e8ed;
  line-height: 1;
  flex-shrink: 0;
}

.Manual-change-button {
  margin: 8px 12px 8px 12px;
  padding: 8px 12px 8px 12px;
  font-size: 24px;
}

.Total-controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.Manual-controls {
  display: flex;
  justify-content: center;
  background-color: #e1e8ed;
  flex-shrink: 0;
  padding-bottom: 16px;
}

.Quick-controls {
  overflow-y: auto;
  flex-grow: 1;
}

.Selected-view {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Dividend-container,
.Price-container {
  overflow: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  display: flex;
  justify-content: left;
  align-items: center;
}

.Dividend-container::-webkit-scrollbar,
.Price-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.Dividend-name,
.Price-name {
  flex: 0 0 86px;
  text-align: left;
  padding-left: 12px;
  max-width: 128px;
  max-height: 72px;
}

.Dividend-button,
.Buy-button,
.Sell-button {
  font-size: 16px;
  border-width: 2px;
  min-width: 20px;
  margin: 16px 8px 16px 8px;
  padding: 0px;
  height: 34px;
  width: 38px;
  align-self: center;
}

.Calculator-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.Reset {
  margin-bottom: 32px;
  flex-shrink: 0;
}